name: zepkart Fullstack CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_SECRET }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./Zapkart-Backend
          file: ./Zapkart-Backend/backend.Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/kubernetes-zepkart-backend:latest

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./Zapkart
          file: ./Zapkart/frontend.Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/kubernetes-zepkart-frontend:latest
